body{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.container>header{
    background-image:url(img/Community+Gaming+Logo.png);
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
    background-color: deepskyblue;
    
}
.container>header>.chu{
    line-height: 50px;
    background-color: burlywood;
    color: white;
    width: 160px;
    float: right;
    display: inline-table;
    border-radius: 8px;
}
.menu>ul>li{
    position: relative;
    display: inline-table;
}
.menu>ul{
    padding: 23px;
    margin: 0px;
    background-color: lightskyblue;
    font-variant: small-caps;
    border-radius: 5px;
    text-align: center;

}
.menu>ul>li>ul{
    position: absolute;
    display: none;

}
.menu>ul>li>ul>a{
    display: block;
}
.menu>ul>li:hover>ul{
    display: block;
}
.menu>ul>li>ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 5px;
    width: 200px;
    background-color: lightblue;
    box-shadow: 0 0 4px 4px gray;
}
.menu>ul>li>ul>li>a{
    line-height: 30px;
    color: black;
    font-variant: small-caps;
    font-size: large;
    text-decoration: none;
    padding: 8px 0px 9px 30px;  
    margin-left: 0px;
    float: left;
}
.menu>ul>li>ul>a:hover{
    background-color: orange;
    color: white;
}   
.container>aside{
    min-height: 400px;
    width: 25%;
    background-color:lavender;
    float: right;
}
.container>footer{
    border-top: 5px double orange;
    line-height: 50px;
    background-color: lightcyan;
    text-align: center;
    font-variant: small-caps;
    clear: both;
}
aside>ul>li>a{
background-color:lavender;
display: block;
border-bottom: 1px dotted orange;
color: orange;
font-variant: small-caps;
font-size: large;
text-decoration: none;
padding: 30px 0px 8px 30px;
margin-left: 0px;

}
aside>ul>li>a:hover{
    background-color: orange;
    color: white;
}
article .News .firts{
    width: 26%;
    padding: 2%;
    float:left;
    border: 3px solid rebeccapurple;
    margin-right: 4%;
    background-color: white;
    
}
article{
    padding: 3%;
    background-color: white;
    float: left;
}
