.container>header{
    background-image:url(img/Community+Gaming+Logo.png);
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
    background-color: deepskyblue;
    
}
body{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
article .Number1 .pic{
    width: 26.5%;
    padding: 1%;
    float:left;
    border: 3px solid rebeccapurple;
    margin-right: 4%;
    background-color: white;
    margin-top: 8px;
    
}